<ion-header>
  <ion-toolbar  class="lovetoolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="lovetitle">💘 Calculate Love By DOB</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="love-bg no-scroll">
<ion-card class="love-card">

  <!-- Your Section -->
  <div class="profile-row">
    <div class="photo-preview" (click)="selectImage('one')">
      <img *ngIf="imageUrl" [src]="imageUrl" />
      <div *ngIf="!imageUrl" class="placeholder">Your Photo</div>
    </div>
    <div class="info-inputs">
      <ion-input placeholder="Enter your name" [(ngModel)]="yourname"></ion-input>
      <ion-input type="number" placeholder="Enter your age" [(ngModel)]="yourage"></ion-input>
    </div>
  </div>

  <!-- Crush Section -->
  <div class="profile-row">
    <div class="photo-preview" (click)="selectImage('two')">
      <img *ngIf="imageUrl1" [src]="imageUrl1" />
      <div *ngIf="!imageUrl1" class="placeholder">Crush Photo</div>
    </div>
    <div class="info-inputs">
      <ion-input placeholder="Enter your crush" [(ngModel)]="yourcrush"></ion-input>
      <ion-input type="number" placeholder="Enter crush age" [(ngModel)]="crushage"></ion-input>
    </div>
  </div>

  <!-- Button -->
  <div class="submit-button">
    <ion-button
      color="danger"
      [disabled]="!yourname || !yourage || !imageUrl || !yourcrush || !crushage || !imageUrl1"
      (click)="subbmitData(yourname, yourage, imageUrl, yourcrush, crushage, imageUrl1)"
    >
      CALCULATE LOVE
    </ion-button>
    <!-- Love Result Display -->



 <div *ngIf="loading" class="loader-container">
  <div class="heart-loader"></div>
</div>

  </div>

 
  <div class="center-image love-btn">
    <img src="assets/images/camera.png" width="80" />
  </div>

</ion-card>
</ion-content>