<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
    <ion-header>
  <ion-toolbar  class="lovetoolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="lovetitle">💘 Love Calculator</ion-title>
  </ion-toolbar>
</ion-header>
      <ion-content>
   <ion-list>
  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
    <ion-item
      class="menu-item"
      [routerLink]="[p.url]"
      routerDirection="root"
      [class.selected]="currentUrl === p.url"
    >
      <ion-icon slot="start" [name]="p.icon"></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <!-- ----------------------------- -->
    <ion-footer class="app-footer">
    <ion-toolbar class="footer-toolbar glass">
      <ion-title size="small" class="footer-text">
        Made with 💖 by <i>Subodh</i>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
