
ion-card, ion-chip {
     --background: #fff;
}

.selected {
     background: #ccc;
}

.activeIndex {
     position: relative;
     ion-chip {
          position: absolute;
          margin: 0;
          left: 50%;
          top: 10px;
          transform: translate(-50%, -10%);
     }
}

ion-card{
     --background: #ffdada;
}
ion-card-header{
     color: red;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 800;
}
ion-input{
     color: red;
     padding-right: 10px;
}
ion-chip{
     color: red; 
     background: lightgray;
}
ion-menu-button{
     color: white;
}

   .lovetoolbar {
  --background: linear-gradient(to right, #ff6a88, #ff99ac);
  --color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 12px rgba(255, 105, 135, 0.3);
  height: 70px; /* Increase height if needed */
  display: flex;
  align-items: flex-start; /* Align title to top */
  padding-top: 10px; /* Space from top */
}

.lovetitle {
  font-size: 22px;
  font-weight: bold;
  padding-top: 8px; /* Adds space above the title text */
  color: #fff;
  width: 100%;
  text-align: center;
}